body {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  height:100%;
}

.container h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

.text {
  font-size: 10px;
  font-weight: normal;
}

/* Button */
#delete {
  margin-right: 60px;
}
#esporta {
  margin-right: 10px;
}
#importa {
  margin-right: 10px;
}
#textA {

}
#modifica {
  margin-top: -30px;
}

/* Canvas */
#canvas {
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
}

/* Drag */
#spanDrag {
  display: inline-block;
  vertical-align: top;
}

#draggableElementContainerPaper {
  border: solid 1px black;
  margin: 20px;
}

/* Drop */
#spanDrop {
  display: inline-block;
  vertical-align: top;
}

#paper {
  border: solid 1px black;
  margin: 20px;
}
